In [1]:
import pandas as pd
import numpy as np

In [37]:
data = pd.DataFrame({'A Ratings': [6.5, 8.5], 'B Ratings': [8.1, 9.1], 
                     'A Number': [10, 300], 'B Number': [180, 40], 
                     'Gender': ['M', 'F']}).set_index('Gender')
data

        A Ratings  B Ratings  A Number  B Number
Gender
M             6.5        8.1        10       180
F             8.5        9.1       300        40

In [38]:
a_average

8.338709677419354

In [39]:
a_average = (data.loc[:, 'A Ratings'] * data.loc[:, 'A Number']).sum() / data.loc[:, 'A Number'].sum(axis=0)
b_average = (data.loc[:, 'B Ratings'] * data.loc[:, 'B Number']).sum() / data.loc[:, 'B Number'].sum(axis=0)


data.loc['Combined'] = [a_average, 
                        b_average, 
                        data['A Number'].sum(), 
                        data['B Number'].sum()]
data.round(2)

          A Ratings  B Ratings  A Number  B Number
Gender
M              6.50       8.10      10.0     180.0
F              8.50       9.10     300.0      40.0
Combined       8.44       8.28     310.0     220.0